body {
  background-color: #f3f3f3;
  font-size: 20px;
}

svg{
  width: 30;
  height: 30;
}


img {
  border-radius: 50%;
}

.post {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  outline: 0;
  width: 100%;
}

.post:hover {
font-size: 30px;
transition-delay:40ms;

}