body {
  background-color: #f3f3f3;
  font-size: 34;
}

svg{
  width: 40;
  height: 40;
}


img {
  border-radius: 50%;
}

.post {
  font-family: 'Ubuntu', sans-serif;
  display: block;
  margin: 10px;
  padding: 5px;
  border: none;
  font-size: 34;
  outline: 0;
  width: 100%;
}

.post:hover {
  font-size: 30px;
  transition-delay:40ms;

}