body {
    background-color: #f3f3f3;
  }
  
  .profile{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .box {
    height: fit-content;
    width: fit-content;
    margin: auto;
  }