{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Login</title>
</head>
<body>
    {%if user.is_authenticated%}
    <a href="{%url 'home'%}"><div class="box user">@{{user}}</div></a>
    {%endif%}

    <style>
        .box.form {
            width: fit-content;
            margin: auto;
        }
        .box.user {
            margin-left:200px;
            width: fit-content;
            border-radius: 50%;
        }
    </style>

    <br>
    <div class="box form">
        <h1 class="title is-1" style="text-align: center; color: #d1433e;">Login</h1>
        <hr>
        {%for i in msg%}
        <article class="message is-danger">
            <div class="message-body">
              <strong>{{i}}</strong>
            </div>
          </article>
        {%endfor%}
        <form method="post">
            {%csrf_token%}
            <input name="username" class="input is-info" placeholder="Username">
            <br><br>
            <input name="password" class="input is-danger" placeholder="password" type="password">
            <br><br>
            <button type="submit" class="button is-info">Login</button>
            <hr>
            
        </form>
        <a href="{%url 'signup'%}">Create a new account</a>
    </div>
    
</body>
</html>