{%extends "base.html"%}

{%block content%}
{%load static%}

<style>
  @import url('{%static "css/comment.css"%}');
</style>

<div class="box comment">
<form method="post">
  <button type="submit" class="button is-info is-large"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
  </svg></button>
  {%csrf_token%}
  {{form}}
  
</form>
</div>

{%for i in post%}
<div class="box" style="width: 80%; margin: auto;">
<article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        
        {%for j in pic%}
        {%if i.user == j.user%}
        <img src="{{j.pic}}" alt="Image">
        {%endif%}
        {%endfor%}              
       
      </figure>
    </div>
    <div class="media-content">
        <p>
          <strong><span class="tag is-light">{{i.user}}</span>{%if i.user in all_ver|safe%}
            <svg style="color:#d1433e;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
              <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
            </svg>
            {%endif%}
          </strong><small>{{i.date}}</small>
          <br>
          {{i.Content}}
        </p>
      </div>
      <br>
  </article>
</div>
{%endfor%}
<br>
{%for i in comments%}
  <div class="box" style="width: 60%; margin: auto;">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            {%for j in pic%}
              {%if i.user == j.user%}
              <img src="{{j.pic}}" alt="Image">
              {%endif%}
              {%endfor%}     
          </figure>
        </div>
        <div class="media-content">
            <p>
              <strong>{{i.user}}{%if i.user in all_ver|safe%}
                <svg style="color:#d1433e;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                  <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                </svg>
                {%endif%}
              </strong> <br><small>{{i.date}}</small>
              <br>
              {{i}}
            </p>
          </div>
          <br>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item" aria-label="retweet">
                <svg xmlns="http://www.w3.org/2000/svg" onclick="mentionbtn('{{i.user}}')" width="20" height="20" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">
                  <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/>
                </svg>
              </a>
              <a class="level-item" aria-label="like">
                <span class="icon is-small">
                  <i class="fas fa-heart" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </nav>
        
      </article>
    </div>
  </div>
  <br>
{%endfor%}
{%endblock%}