{%extends "base.html"%}

{%block content%}
<div class="box" style="height: fit-content;
width: fit-content;">
<div class="profile">
    {%for j in pic%}
    <figure class="image is-128x128">
      <img src="{{j.pic}}">
    </figure>
</div>

{%endfor%}
<h1 class="title is-2" style="text-align: center; color: #000000;">@{{user}}{%if User in all_ver|safe%}
    
  <svg style="color:#d1433e;" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
    <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
  </svg>
  
</h1>
{%endif%}
<h1 class="title" style="text-align: center;">Posts {{all_post|length}}</h1>
</div>
  {%for i in all_post%}
  <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            {%for j in pic%}
            <img src="{{j.pic}}" alt="Image">
            {%endfor%}
          </figure>
        </div>
        <div class="media-content">
            <p>
              <strong>{{i.user}}{%if i.user in all_ver|safe%}
                <svg style="color:#d1433e;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                  <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                </svg>
                {%endif%}
              </strong> <br><small>{{i.date}}</small>
              <br>
              {{i.Content}}
            </p>
          </div>
          <br>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item" aria-label="reply">
                <span class="icon is-small">
                  <i class="fas fa-reply" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="retweet">
                <span class="icon is-small">
                  <i class="fas fa-retweet" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="like">
                <span class="icon is-small">
                  <i class="fas fa-heart" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </nav>
        
      </article>
    </div>
  </div>
  {%endfor%}
{%endblock%}