{%load static%}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'css/signup.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Create a new account</title>
</head>
<body>
    <style>
        .box {
            width: fit-content;
            margin: auto;
        }
        .box.user {
            margin-left:200px;
            width: fit-content;
            border-radius: 50%;
        }
    </style>
    {%if user.is_authenticated%}
    <a href="{%url 'home'%}"><div class="box user">@{{user}}</div></a>
    {%endif%}
    <br>
    <div class="box">
        <h1 class="title is-1" style="text-align: center; color: #d1433e;">Create a new account</h1>
        <hr>
        <form method="post">
        {%csrf_token%}
        <input name="username" class="input" placeholder="Username">
        <br><br>
        <input name="password1" class="input is-info" placeholder="password" type="password">
        <br><br>
        <input name="password2" class="input is-danger" placeholder="Repeat your password" type="password">
        <br><br>
        <button type="submit" class="button is-info">Create</button>
        <hr>
        </form>
        <a href="{%url 'login'%}">Login</a>
    </div>
</body>
</html>