{%load static%}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{%static 'css/login.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Create a new account</title>
</head>
<body>
    <br>
    <div class="box">
        <h1 class="title is-1" style="text-align: center; color: #d1433e;">Create a new account</h1>
        <hr>
        <form method="post">
            {%csrf_token%}
        <input name="username" placeholder="Username" class="input is-danger">
        <br><br>
        <input name="password1" placeholder="password" class="input is-danger">
        <br><br>
        <input name="password2" placeholder="Repeat your password" class="input is-danger">
        <br><br>
        <button type="submit" class="button is-info">Create</button>
        </form>
        <a href="{%url 'login'%}">Login</a>
    </div>
</body>
</html>