{%load static%}
<link href="{%static 'css/usa.css'%}" rel="stylesheet">
<meta http-equiv="refresh" content="3; /home" />

<div class="container">
    <div class="america">
      <div class="america-blue">
        <div class="star-row">
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
        </div>
        <div class="star-row-5">
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
         
        </div>
        <div class="star-row">
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
        </div>
        <div class="star-row-5">
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
         
        </div>
        <div class="star-row">
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
        </div>
        <div class="star-row-5">
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
         
        </div>
        <div class="star-row">
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
          <svg class="star">
            <use xlink:href="#star"></use>
          </svg>
        </div>
      </div>
      <div class="stripes">
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
        <div class="stripe"></div>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0"  fill="white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
      <defs>
      <symbol id="star" fill="white" viewBox="0 0 250 250">
         <path d="m55,237 74-228 74,228L9,96h240"/>
       </symbol>
      </defs>
   </svg>